[Unit]
Description=Garage Door API
After=network.target

[Service]
TimeoutStartSec=0
RestartSec=5
Restart=always
StandardOutput=journal+console
StandardError=journal+console
ExecStart=/usr/bin/python3 /opt/src/garage_door_opener/main.py

[Install]
WantedBy=multi-user.target
