body {
    background: white;
    color: black;
}

.button {
    font: bold 15px "Open Sans", Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top:    1px solid #CCCCCC;
    border-right:  1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left:   1px solid #CCCCCC;
}
