body {
    background: white;
    color: #333333;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.link {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.button {
    font-size: 30px;
    text-align: center;
    background-color: #EEEEEE;
    color: #333333;
    width: 200px;
    padding: 20px 0;
    border-top:    1px solid #CCCCCC;
    border-right:  1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left:   1px solid #CCCCCC;
}
